html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /* color */
    --color-white: #fafafa;
    --color-light-grey: #dfdfdf;
    --color-background: #1d1a1a49;
    --color-todolist: #1d1d1db6;
    --color-dark-grey: #3d3535b6;
    --color-deep-dark-grey: #0f0e0eb6;
  
    /* size */
    --base-space: 8px;
    --large-space: 12px;
    --size-button: 60px;
    --size-border-radius: 5px;
    --size-placeholder: 18px;
  
    /* font size */
    --font-large: 20px;
    --font-regular: 16px;
    --font-medium: 14px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
}
  
body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    background-size: cover;
}

.lobby {
    height: 100%;
    position: relative;
}

.lobby::before {
    content: "";
    position: absolute;
    opacity: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    height: 100%;
    position: relative;
    
}

.main::before {
    content: "";
    position: absolute;
    opacity: 20%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
}

.top {
    position: relative;
}

.middle {
    position: relative;
}

.bottom {
    position: relative;
}

.hidden {
    display: none;
}