html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --color-white: #fafafa;
    --color-light-grey: #dfdfdf;
    --color-medium-grey: #b3b3b3;
    --color-black: #000000;
    --color-todo-list: #252525b4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    background-size: cover;
}

.lobby {
    height: 100%;
    position: relative;
}

.lobby::before {
    content: "";
    position: absolute;
    opacity: 80%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--color-black);
}

#login-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form input {
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-light-grey);
    padding: 2px;
    font-size: 40px;
    color: var(--color-white);
    text-align: center;
}

#login-form input:focus {
    outline: none;
}

#login-form input::placeholder {
    font-size: 30px;
    color: var(--color-light-grey);
}

#login-button {
    display: none;
    width: 75px;
    background: none;
    border: 2px solid var(--color-light-grey);
    border-radius: 10px;
    margin: 8px 0px 2px 8px;
    font-size: 20px;
    color: var(--color-white);
}

#login-button:hover {
    background: var(--color-medium-grey);
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    opacity: 40%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--color-black);
}

.top {
    display: flex;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#weather {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    color: var(--color-white);
}

#weather div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#weather div>span {
    margin: 0px 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#clock {
    margin: 12px;
    font-weight: 550;
    font-size: 135px;
    color: var(--color-white);
}

#today-info {
    margin: 10px;
    font-weight: 550;
    font-size: 25px;
    color: var(--color-white);
}

#hello-message {
    margin: 12px;
    font-weight: 550;
    font-size: 55px;
    color: var(--color-white);
}

#logout-button {
    width: 120px;
    background: none;
    border: 2px solid var(--color-light-grey);
    border-radius: 100px;
    margin: 10px;
    padding: 8px;
    font-size: 20px;
    color: var(--color-white);
}

#logout-button:hover {
    background: var(--color-medium-grey);
    opacity: 80%;
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

#quote span {
    margin: 4px 0px;
}

#todo-button {
    background: none;
    border: none;
    padding: 8px;
    font-size: 20px;
    color: var(--color-white);
    position: absolute;
    right: 50px;
}

#todo-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.modal-overlay {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.modal-window {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    background-color: var(--color-todo-list);
    border-radius: 5px;
    position: absolute;
    right: 50px;
    bottom: 70px;
}

#todo-form input {
    width: 95%;
    background-color: var(--color-todo-list);
    border: none;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
    padding: 8px;
    font-size: 14px;
    color: var(--color-white);
}

#todo-form input:focus {
    outline: none;
}

#todo-form input::placeholder {
    font-size: 14px;
    color: var(--color-light-grey);
}

#todo-list {
    color: var(--color-white);
    margin: 8px;
    list-style: none;
    overflow-y: auto;
}

#todo-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
}

#todo-list button {
    background: none;
    border: none;
    margin-left: 8px;
    color: var(--color-medium-grey);
}

#todo-list button:hover {
    cursor: pointer;
}

#todo-list::-webkit-scrollbar {
    width: 10px;
}

#todo-list::-webkit-scrollbar-thumb {
    background-color: var(--color-todo-list);
}

#todo-list::-webkit-scrollbar-track {
    background: none;
}

.hidden {
    display: none;
}