body {
    background-color: beige;
    font-family: sans-serif;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

.clicked {
    color: tomato;
}

.sexy-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}